hugme/.env
# Ignora todos os caches do Python
__pycache__/
*.py[cod]
*.pyc
hugme/bot/__pycache__/main.cpython-313.pyc
hugme/bot/__pycache__/main.cpython-313.pyc
hugme/bot/commands/__pycache__/__init__.cpython-313.pyc
